$primary_color: #013068;
$secondary_color: #A5D9C5;
$text_color: #8B8178;
$btn_color: #939aa3;
$white: #ffff;
$bann-heading: #FFFFFF;
$theme_black: #312F30;
$theme_border: #DDDDDD;

// font sizes
$font_text: 'Neue Montreal', 'sans-serif';

// Responsive Variables
$xsmall: 575px; // 576
$small: 767px; // 768
$medium: 991px; // 992
$large: 1199px; // 1200 
$xlarge: 1200px;